.Logo {
  font-family: "Rubik", sans-serif;
  text-shadow: 0 1px 0 rgb(88 28 135), 0 2px 0 rgb(107 33 168),
    0 3px 0 rgb(126 34 206), 0 4px 0 rgb(147 51 234), 0 5px 0 rgb(168 85 247),
    0 6px 1px rgb(107 33 168 / 10%), 0 0 5px rgb(107 33 168 / 10%),
    0 1px 3px rgb(107 33 168 / 30%), 0 3px 5px rgb(107 33 168 / 20%),
    0 5px 10px rgb(107 33 168 / 25%), 0 10px 10px rgb(107 33 168 / 20%),
    0 20px 20px rgb(107 33 168 / 15%);
  border-bottom: 3px solid rgb(88 28 135);
  box-shadow: 0 12px 1px rgb(0 0 0 / 10%), 0 0 10px rgb(0 0 0 / 10%),
    0 2px 6px rgb(0 0 0 / 30%), 0 6px 10px rgb(0 0 0 / 20%),
    0 10px 20px rgb(0 0 0 / 25%), 0 20px 20px rgb(0 0 0 / 20%),
    0 40px 40px rgb(0 0 0 / 15%);
}

div.Background {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: repeating-linear-gradient(
    -55deg,
    rgb(107 33 168),
    rgb(107 33 168) 10px,
    rgb(88 28 135) 10px,
    rgb(88 28 135) 20px
  );
}

button.Button {
  box-shadow: 0px 0.3px 0.3px hsl(274deg 77% 22% / 0.36),
    0px 1.1px 1.2px -0.8px hsl(274deg 77% 22% / 0.36),
    0px 2.8px 3.1px -1.7px hsl(274deg 77% 22% / 0.36),
    0.1px 6.8px 7.7px -2.5px hsl(274deg 77% 22% / 0.36);
}

div.GridItem {
  box-shadow: 0 3px 0 rgb(88 28 135), 0 12px 1px rgb(0 0 0 / 10%),
    0 0 10px rgb(0 0 0 / 10%), 0 2px 6px rgb(0 0 0 / 30%),
    0 6px 10px rgb(0 0 0 / 20%), 0 10px 20px rgb(0 0 0 / 25%),
    0 20px 20px rgb(0 0 0 / 20%), 0 40px 40px rgb(0 0 0 / 15%);
}

/* Partially based on argyleink's progress https://github.com/argyleink/gui-challenges/blob/main/LICENSE */
progress {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 16px;
  width: 100%;
  appearance: none;

  --_pback: hsl(271, 91%, 65%);
  --_pback-size: 16px;
  --_pfill: hsl(273, 67%, 39%);
  --_indeterminate-track: linear-gradient(
    to right,
    var(--_pback) 45%,
    var(--_pfill) 0%,
    var(--_pfill) 55%,
    var(--_pback) 0%
  );
  --_indeterminate-track-size: 225% 100%;
  --_indeterminate-track-animation: progress-loading 3s infinite ease;

  background-color: var(--_pback);
}

progress[value]::-webkit-progress-bar {
  background-color: var(--_pback);
}

progress[value]::-webkit-progress-value {
  background-color: var(--_pfill);
  transition: inline-size 3s ease-out;
}

progress[value]::-webkit-progress-inner-element {
  border-radius: 8px;
}

progress[value]::-moz-progress-bar {
  background-color: var(--_pfill);
}

progress:indeterminate::after {
  content: "";
  inset: 0;
  position: absolute;
  background: var(--_indeterminate-track);
  background-size: var(--_indeterminate-track-size);
  background-position: right;
  animation: var(--_indeterminate-track-animation);
}

progress:indeterminate::-webkit-progress-bar {
  border-radius: 8px;
  background: var(--_indeterminate-track);
  background-size: var(--_indeterminate-track-size);
  background-position: right;
  animation: var(--_indeterminate-track-animation);
}

progress:indeterminate::-moz-progress-bar {
  background: var(--_indeterminate-track);
  background-size: var(--_indeterminate-track-size);
  background-position: right;
  animation: var(--_indeterminate-track-animation);
}

@keyframes progress-loading {
  50% {
    background-position: left;
  }
}
